# Dependencies
/node_modules

# Environment variables
.env

# Firebase credentials
firebase-service-account.json

# WhatsApp-Web.js session data
.wwebjs_auth/

firebase-credentials.json
firebase-adminsdk.json
*.log